.ota-btn {
  &,
  &:link,
  &:visited {
    font-size: 1.4rem;
    padding: 1rem 3rem;
    border-radius: 10rem;
    text-transform: uppercase;
    display: inline-block;
    text-decoration: none;
    position: relative;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
    font-weight: 400;

    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;

    border: none;
    cursor: pointer;
  }

  &:hover {
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px);
    -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  }

  &:active {
    -webkit-transform: translateY(-1px);
    transform: translateY(-1px);
    -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  }

  &:focus {
    outline: none;
    background-color: #2e864b;
  }

  &--primary {
    background-color: var(--color-primary);
    color: #fff;

    &::after {
      background-color: var(--color-primary);
    }
  }

  &--secondary {
    background-color: var(--color-secondary);
    color: #fff;

    &::after {
      background-color: var(--color-secondary);
    }
  }
}
